:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.products{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.products__single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}

.products__single img {
  width: 180px;
  height: 150px;
  object-fit: cover;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem
}

.pagination .pagination__item {
  border: 1px solid gray;
  padding: 1rem;
  cursor: pointer;
}

.pagination__item--active{
  background-color: rgb(255, 218, 181);
}

.pagination__item--disabled{
  cursor: auto !important;
}