#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.traffic-light-container{
  background-color: rgba(0, 0, 0, 0.897);
  padding: 10px;
  border-radius: 5px;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap: 15px;
}
.light{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(128, 128, 128);
}